.opening-container span {
  font-size: 1.3rem;
  padding: 0.2rem 0;
}

.opening-container h1 {
  font-size: 2rem;
  padding: 0.2rem 0 0.5rem 0;
}
.opening-container p {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.main-opening {
  width: 100%;
}

.left-opening {
  border: 2px solid rgb(205, 201, 201);
  padding: 1.5rem 6rem 3rem 1.5rem;
  margin: 1rem 0;
  border-radius: 30px;
  flex: 0.4;
}

.main-opening .left-opening span {
  font-size: 1rem;
  font-weight: 500;
}
.main-opening .left-opening span:nth-child(2) {
  font-weight: 700;
}

/* right side */
.right-side {
  text-align: center;
}
.r-cont {
  /* border: 1px solid red; */
  width: 100%;
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 3.5rem;
}
.r-cont i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .main-opening {
    flex-wrap: wrap;
    text-align: center;
    /* flex-direction: column; */
  }
  .left-opening {
    width: 100%;
    margin: 0 auto;
  }
  .right-side {
    width: 100%;
  }
  .r-cont {
    flex-wrap: wrap;
  }
}
